* {
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	
}
#navbar {
	position: fixed;
	width: 100%;
	height: 6%;
	background-color:#393e46;
	text-align: right;
	place-items: center;
	z-index: 1;
	padding-top: 6px;
	font-family: monospace;
}
#navbar a {
	text-decoration: none;
	color: white;
	margin-right: 8%;
}
#welcome-section {
	font-family: "Inconsolata", monospace;
	height: 100vh;
	width: 100vw;
	display: grid;
	color: white;
	background-color: black;
}
#welcome-section h1 {
	margin: 11% auto;
	font-size: 2.2rem;
}
#skills {
	margin: -10% auto;
}
.langIcon {

}
#projects {
	display: grid;
	grid-template-columns: repeat(minmax(300px, 1fr));
	width: clamp(290px, 45vw, 80vw);
	border: 4px solid#15191f;
	border-radius: 7px 7px 0 0;
	height: min-content;
	margin: 15% auto 0;
	padding: 10px;
	background-color: #222831;
	text-align: center;
}
.project-tile {
	height: 90px;
	border: 2px solid #52575d;
	border-radius: 15px 15px 35px 35px;
	margin: 2px 0;
	position: relative;
	background-color: #393e46;
}

.project-link {
	display: block;
	width: 90%;
	height: 90%;
	margin: 3% 0 0 3%;
	background: url(method-draw-image.svg) no-repeat;
	background-size: contain;
}
#more-link {
	text-decoration: none;
	color: #52575d;
	margin-top: 2px;
	text-align: right;
}
footer {
	height: 30vh;
	width: 100%;
	background-color: #141424;
}
